@charset "utf-8";





.con_container .con_chf{
    width: 100%;
    background-color: #f1f9f8;
    padding: 15px 0px;
}


.con_container .con_chf h3{
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 12px;
    padding-bottom: 15px;
}


.con_container .con_chf p{
    color: #333333;
    font-size: 1rem;
    text-align: justify;
    padding: 0px 12px;
}





.con_container .con_chf .con_chf_tab{
    width: 95%;
    margin: 15px auto;
    background-color: #FFFFFF;
}

.con_container .con_chf .con_chf_tab .con_chf_tab1{
    height: 40px;
}

.con_container .con_chf .con_chf_tab .con_chf_tab1 ul li{
    float: left;
    width: 33.3%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.con_container .con_chf .con_chf_tab .con_chf_tab1 ul li a{
    color: #666666;
    font-size: 1rem;
}
.con_container .con_chf .con_chf_tab .con_chf_tab1 ul li.active{
    color: #FFFFFF;
    background-color: #ed7267;
    border-radius: 5px 0px 0px 0px;
}
.con_container .con_chf .con_chf_tab .con_chf_tab1 ul li.active a{
    color: #FFFFFF;
}


.con_container .con_chf .con_chf_tab .con_chf_tab2{
    height: 150px;
}
.con_container .con_chf .con_chf_tab .con_chf_tab2 ul li{
    float: left;
    width: 29.3%;
    height: 60px;
    line-height: 35px;
    text-align: center;
    margin: 2% 2%;
}
.con_container .con_chf .con_chf_tab .con_chf_tab2 ul li p{
    color: #666666;
    font-size: 0.875rem;
    text-align: center;
    padding: 0px;
}

.con_container .con_chf .con_chf_tab .con_chf_tab2 ul li a{
    display: block;
    background-color: #ed7267;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    font-size: 0.875rem;
}









.con_container .con_yy{
    width: 100%;
    background-color: #ffffff;
    padding: 15px 0px;
}


.con_container .con_yy h3{
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 12px;
    padding-bottom: 15px;
}


.con_container .con_yy .con_yy_div{
    padding: 0px 12px;
}

.con_container .con_yy .con_yy_div ul li{
    float: left;
    width: 25%;
    text-align: center;
}

.con_container .con_yy .con_yy_div ul li img{
    width: 95%;
}

.con_container .con_yy .con_yy_div ul li p{
    color: #666666;
    font-size: 1rem;
    text-align: center;
}

.con_container .con_yy .con_yy_div1{
    width: 96%;
    padding: 12px 0px 0px 12px;
}


.con_container .con_yy .con_yy_div1 ul li{
    color: #666666;
    font-size: 1rem;
    padding-top: 10px;
}

.con_container .con_yy .con_yy_div1 ul li img{
    vertical-align: middle;
    width: 6%;
    padding-right: 10px;
}













.con_container .con_zmkh{
    width: 100%;
    background-color: #f9eefc;
    padding: 15px 0px;
}


.con_container .con_zmkh h3{
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 12px;
    padding-bottom: 15px;
}

.con_container .con_zmkh .con_zmkh_div{
    width: 96%;
    margin: 0 auto;
}

.con_container .con_zmkh .con_zmkh_div ul li{
    width: 24.2%;
    float: left;
    margin-left: 2px;
}
.con_container .con_zmkh .con_zmkh_div ul li img{
    width: 100%;
    height: 60px;
}


.con_container .con_zmkh .con_zmkh_div ul li:nth-child(1){
    width: 22%;
}
.con_container .con_zmkh .con_zmkh_div ul li:nth-child(2){
    width: 30%;
}
.con_container .con_zmkh .con_zmkh_div ul li:nth-child(3){
    width: 20%;
}
.con_container .con_zmkh .con_zmkh_div ul li:nth-child(4){
     width: 25%;
 }

.con_container .con_zmkh .con_zmkh_div ul li:nth-child(5){
    width: 27%;
}

.con_container .con_zmkh .con_zmkh_div ul li:nth-child(6){
    width: 20%;
}
.con_container .con_zmkh .con_zmkh_div ul li:nth-child(7){
    width: 30%;
}
.con_container .con_zmkh .con_zmkh_div ul li:nth-child(8){
    width: 20%;
}





/*底部栏*/
.con_container .dianji{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #ffffff;
    position: relative;
}

.con_container a:last-child .dianji{
    margin-top: 5px;
}
.con_container .dianji p{
    line-height: 70px;
    padding-left: 25%;
    font-size: 1.125rem;
}

.con_container .dianji.dianji1{
    background: #ffffff url("../images/dianji1.png") 15px 4px no-repeat;
    /* background-size: 15% 66%;*/
}
.con_container .dianji.dianji2{
    background: #ffffff url("../images/dianji2.png") 15px 6px no-repeat;
    /*background-size: 12% 66%;*/
}

/*.container .dianji p i{
    display: inline-block;
    width: 30%;
    height: 40px;
    background: url("../images/jt.png") 20px 0px no-repeat;
    vertical-align: middle;
}*/

.con_container .dianji img{
    position: absolute;
    top: 30%;
    /*left: 0;*/
    right: 0;
    bottom: 0;
    width: 8%;
    height: 50%;
}


.con_container .dbl .div_bg{
    position: absolute;
    top: 18px;
    right: 0px;
    display: inline-block;
    width: 60px;
    height: 57px;
    background: url("../images/jt_m.png") 0px 0px no-repeat;
    z-index: 99;
    background-size: 80%;
}

.con_container .dbl .div_bg.div_bg1{
    top: 93px;
    right: 0px;
}

.con_container .dbl a{
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
}


.con_container .dbl a.lh_a:hover .div_bg{
    position: absolute;
    top: 18px;
    right: 0px;
    display: inline-block;
    width: 60px;
    height: 57px;
    background: url("../images/jt_j.png") 0px 0px no-repeat;
    z-index: 99;
    background-size: 80%;
}


.con_container .dbl a.tc_a:hover .div_bg{
    position: absolute;
    top: 93px;
    right: 0px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url("../images/jt_j.png") 0px 0px no-repeat;
    z-index: 99;
    background-size: 80%;
}

.con_container .dbl{
    background-color: #434343;
    padding-bottom: 72px;
    padding-top: 5px;
    position: relative;
}




