@charset "utf-8";



.cus_container .cus_khal{
    width: 100%;
    background-color: #f1f9f8;
    padding: 15px 0px;
}
.cus_container .cus_khal h3{
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 12px;
    padding-bottom: 12px;
}

.cus_container .cus_khal .cus_khal_div ul li{
    width: 100%;
    text-align: center;
}

.cus_container .cus_khal .cus_khal_div ul li img{
    width: 95%;
}

.cus_container .cus_khal a{
    display: inline-block;
    width: 22%;
    margin: 12px 15px 0px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    background:linear-gradient(to right,#ec6a5e,#f17c72);
    box-shadow: 2px 2px 5px #b99b9c;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 0.875rem;
}

.cus_container .cus_khal .cus_khal_div1{
    width: 100%;
    text-align: center;
}






.cus_container .cus_lhtj{
    width: 100%;
    background-color: #fbdee1;
    padding: 15px 0px;
}
.cus_container .cus_lhtj h3{
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 12px;
    padding-bottom: 12px;
}



.cus_container .cus_lhtj .cus_lhtj_div{
    width: 95%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 15px 0px;
}


.cus_container .cus_lhtj .cus_lhtj_div ul li{
    float: left;
    width: 27.3%;
    margin: 5px 3%;
}

.cus_container .cus_lhtj .cus_lhtj_div ul li p{
    color: #666666;
    font-size: 0.875rem;
    text-align: center;
}

.cus_container .cus_lhtj .cus_lhtj_div ul li a{
    display: block;
    background-color: #ed7267;
    color: #ffffff;
    text-align: center;
    height: 27px;
    line-height: 27px;
    font-size: 0.875rem;
}


.cus_container .cus_lhtj .cus_lhtj_a{
    display: block;
    width: 40%;
    margin: 15px auto 0px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background:linear-gradient(to right,#ec6a5e,#f17c72);
    box-shadow: 2px 2px 5px #b99b9c;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 0.875rem;
}










/*

/!*底部栏*!/
.cus_container .dianji{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #ffffff;
    position: relative;
}

.cus_container a:last-child .dianji{
    margin-top: 5px;
}
.cus_container .dianji p{
    line-height: 70px;
    padding-left: 25%;
    font-size: 1.125rem;
}

.cus_container .dianji.dianji1{
    background: #ffffff url("../images/dianji1.png") 15px 4px no-repeat;
    /!* background-size: 15% 66%;*!/
}
.cus_container .dianji.dianji2{
    background: #ffffff url("../images/dianji2.png") 15px 6px no-repeat;
    /!*background-size: 12% 66%;*!/
}

/!*.container .dianji p i{
    display: inline-block;
    width: 30%;
    height: 40px;
    background: url("../images/jt.png") 20px 0px no-repeat;
    vertical-align: middle;
}*!/

.cus_container .dianji img{
    position: absolute;
    top: 30%;
    /!*left: 0;*!/
    right: 0;
    bottom: 0;
    width: 8%;
    height: 50%;
}


.cus_container .dbl .div_bg{
    position: absolute;
    top: 18px;
    right: 0px;
    display: inline-block;
    width: 60px;
    height: 57px;
    background: url("../images/jt_m.png") 0px 0px no-repeat;
    z-index: 99;
    background-size: 80%;
}

.cus_container .dbl .div_bg.div_bg1{
    top: 93px;
    right: 0px;
}

.cus_container .dbl a{
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
}


.cus_container .dbl a.lh_a:hover .div_bg{
    position: absolute;
    top: 18px;
    right: 0px;
    display: inline-block;
    width: 60px;
    height: 57px;
    background: url("../images/jt_j.png") 0px 0px no-repeat;
    z-index: 99;
    background-size: 80%;
}


.cus_container .dbl a.tc_a:hover .div_bg{
    position: absolute;
    top: 93px;
    right: 0px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url("../images/jt_j.png") 0px 0px no-repeat;
    z-index: 99;
    background-size: 80%;
}

.cus_container .dbl{
    background-color: #434343;
    padding-bottom: 72px;
    padding-top: 5px;
    position: relative;
}

*/


