@charset "utf-8";


/*顶部栏*/
.hot_top .hot_top1{
    width: 100%;
    height: 45px;
    background-color: #434343;
    position: relative;
}

.hot_top .hot_top1 a{
    position: absolute;
    top: 3px;
    left: 5px;
}

.hot_top .hot_top1 p{
    position: absolute;
    top: 9px;
    right: 5px;
    color: #ffffff;
    font-size: 1rem;
}


.hot_top .hot_top2{
    width: 100%;
    height: 45px;
    background-color: #434343;
    position: relative;
}

.hot_top .hot_top2 a{
    color: #FFFFFF;
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 1.5rem;
}

.hot_top .hot_top2 a.back{
    width: 80px;
    height: 32px;
    line-height: 32px;
    background: url("../images/back.png") 0px 0px no-repeat;
    padding-left: 25px;
}

.hot_top .hot_top2 p{
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5rem;
    height: 45px;
    line-height: 45px;
}






.hot_banner img{
    width: 100%;
}





.hot_container{
    margin-top: -6px;
}

.hot_container .hot_one{
    background-color: #f1f9f8;
    width: 100%;
    padding: 15px 0px;
 }



.hot_container .hot_one h3{
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
}
.hot_container .hot_one p{
    color: #333333;
    font-size: 1rem;
}


.hot_container .hot_one .hot_one_tab{
    width: 95%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.hot_container .hot_one .hot_one_tab .hot_one_tab1{
    height: 40px;
}

.hot_container .hot_one .hot_one_tab .hot_one_tab1 ul li{
    float: left;
    width: 33.3%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.hot_container .hot_one .hot_one_tab .hot_one_tab1 ul li a{
    color: #666666;
    font-size: 1rem;
}
.hot_container .hot_one .hot_one_tab .hot_one_tab1 ul li.active{
    color: #FFFFFF;
    background-color: #ed7267;
    border-radius: 5px 0px 0px 0px;
}
.hot_container .hot_one .hot_one_tab .hot_one_tab1 ul li.active a{
    color: #FFFFFF;
}


.hot_container .hot_one .hot_one_tab .hot_one_tab2{
    height: 150px;
}
.hot_container .hot_one .hot_one_tab .hot_one_tab2 ul li{
    float: left;
    width: 29.3%;
    height: 72px;
    line-height: 40px;
    text-align: center;
    margin: 0% 2%;
}
.hot_container .hot_one .hot_one_tab .hot_one_tab2 ul li p{
    color: #666666;
    font-size: 0.9rem;
}

.hot_container .hot_one .hot_one_tab .hot_one_tab2 ul li a{
    display: block;
    background-color: #ed7267;
    color: #ffffff;
    font-weight: bold;
}









.hot_container .hot_two{
    background-color: #c6dce4;
    width: 100%;
    padding: 15px 0px;
}



.hot_container .hot_two h3{
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
}
.hot_container .hot_two p{
    color: #333333;
    font-size: 1rem;
}


.hot_container .hot_two .hot_two_img{
    width: 100%;
    /*height: 206px;*/
    text-align: center;
}

.hot_container .hot_two .hot_two_img .hot_two_img1{
    width: 60%;
    margin: 0 auto;
    background-color: #f0f8f8;
}

.hot_container .hot_two .hot_two_img img{
    width: 94%;
    padding-top: 6px;
}

.hot_container .hot_two .hot_two_a{
    display: block;
    width: 50%;
    margin: 15px auto 0px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background:linear-gradient(to right,#ec6a5e,#f17c72);
    box-shadow: 2px 2px 5px #b99b9c;
    border-radius: 6px;
    color: #FFFFFF;
}


/*.hot_container .hot_two .hot_two_aa{
    width: 100%;

}*/


.hot_container .hot_three{
    background-color: #fbdee1;
    width: 100%;
    padding: 15px 0px;
}



.hot_container .hot_three h3{
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
}
.hot_container .hot_three p{
    color: #333333;
    font-size: 1rem;
}

.hot_container .hot_three .hot_three_lb{
    width: 95%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 15px 0px;
}


.hot_container .hot_three .hot_three_lb ul li{
    float: left;
    width: 27.3%;
    margin: 5px 3%;
}

.hot_container .hot_three .hot_three_lb ul li p{
    color: #666666;
    font-size: 0.9rem;
    text-align: center;
}

.hot_container .hot_three .hot_three_lb ul li a{
    display: block;
    background-color: #ed7267;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px;
}




.hot_container .hot_four{
    background-color: #c6dce4;
    width: 100%;
    padding: 15px 0px;
}



.hot_container .hot_four h3{
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
}
.hot_container .hot_four p{
    color: #333333;
    font-size: 1rem;
}


.hot_container .hot_four .hot_four_img{
    width: 100%;
    /*height: 206px;*/
    text-align: center;
}

/*.hot_container .hot_four .hot_four_img .hot_four_img1{
    width: 60%;
    margin: 0 auto;
    background-color: #f0f8f8;
}*/

.hot_container .hot_four .hot_four_img img{
    width: 94%;
    /*padding-top: 6px;*/
}

.hot_container .hot_four .hot_four_a{
    display: block;
    width: 50%;
    margin: 15px auto 0px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background:linear-gradient(to right,#ec6a5e,#f17c72);
    box-shadow: 2px 2px 5px #b99b9c;
    border-radius: 6px;
    color: #FFFFFF;
}







.hot_container .hot_five{
    background-color: #fffacc;
    width: 100%;
    padding: 15px 0px;
}

.hot_container .hot_five h3{
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
}
.hot_container .hot_five p{
    color: #333333;
    font-size: 1rem;
}


.hot_container .hot_five .hot_five_img{
    width: 100%;
    /*height: 206px;*/
    text-align: center;
}

/*.hot_container .hot_four .hot_four_img .hot_four_img1{
    width: 60%;
    margin: 0 auto;
    background-color: #f0f8f8;
}*/

.hot_container .hot_five .hot_five_img img{
    width: 94%;
    /*padding-top: 6px;*/
}

.hot_container .hot_five .hot_five_a{
    display: block;
    width: 50%;
    margin: 15px auto 0px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background:linear-gradient(to right,#ec6a5e,#f17c72);
    box-shadow: 2px 2px 5px #b99b9c;
    border-radius: 6px;
    color: #FFFFFF;
}





.hot_container .hot_six{
    background-color: #f7effa;
    width: 100%;
    padding: 15px 0px;
}



.hot_container .hot_six h3{
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
}
.hot_container .hot_six p{
    color: #333333;
    font-size: 1rem;
}


.hot_container .hot_six .hot_six_img{
    width: 100%;
    /*height: 206px;*/
    text-align: center;
}

.hot_container .hot_six .hot_six_img .hot_six_img1{
    width: 75%;
    margin: 0 auto;
    background-color: #ffffff;
}

.hot_container .hot_six .hot_six_img img{
    width: 94%;
    padding-top: 6px;
}

.hot_container .hot_six .hot_six_a{
    display: block;
    width: 50%;
    margin: 15px auto 0px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background:linear-gradient(to right,#ec6a5e,#f17c72);
    box-shadow: 2px 2px 5px #b99b9c;
    border-radius: 6px;
    color: #FFFFFF;
}




.hot_container .hot_hd{
    background-color: #ffffff;
    width: 100%;
    padding: 15px 0px;
    position: relative;
}


.hot_container .hot_hd .img_ab{
    position: absolute;
    top: 3%;
    left: 0%;
}

/*.hot_container .hot_hd .hot_hd_img{
    width: 100%;
    background: url("../images/hot_hd_img.png") center no-repeat;
    background-size: 90% 90%;
    height: 200px;
}*/

.hot_container .hot_hd .hot_hd_img{
    width: 100%;
    text-align: center;
    margin-top: 7%;
}
.hot_container .hot_hd .hot_hd_img img{
    width: 95%;
    height: 160px;
}


.hot_container .hot_hd .hot_hdsm{
    width: 88%;
    position: absolute;
    top: 25%;
    left: 8%;
}
.hot_container .hot_hd .hot_hdsm ul li p{
    font-size: 0.75rem;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    display: block;
}




/*底部栏*/
.hot_container .dianji{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #ffffff;
    position: relative;
}

.hot_container a:last-child .dianji{
    margin-top: 5px;
}
.hot_container .dianji p{
    line-height: 70px;
    padding-left: 25%;
    font-size: 1rem;
}

.hot_container .dianji.dianji1{
    background: #ffffff url("../images/dianji1.png") 15px 13px no-repeat;
    background-size: 15% 66%;
}
.hot_container .dianji.dianji2{
    background: #ffffff url("../images/dianji2.png") 15px 11px no-repeat;
    background-size: 12% 66%;
}

/*.container .dianji p i{
    display: inline-block;
    width: 30%;
    height: 40px;
    background: url("../images/jt.png") 20px 0px no-repeat;
    vertical-align: middle;
}*/

.hot_container .dianji img{
    position: absolute;
    top: 30%;
    /*left: 0;*/
    right: 0;
    bottom: 0;
    width: 8%;
    height: 50%;
}

.hot_container .dbl{
    background-color: #434343;
    padding-bottom: 90px;
    padding-top: 5px;
}





