@charset "utf-8";





/*头部栏*/
.header{
    width: 100%;
    background-color: #313131;
    height: 108px;
}
.header .top{
    height: 45px;
}
.header .top .top_l{
    padding-left: 20px;
    padding-top: 5px;
}
.header .top .top_r{

}

.header .top .top_r p{
    color: #ffffff;
    font-size: 1rem;
    padding: 10px;
}



.header .top_title{
    height: 43px;
    line-height: 43px;
    text-align: center;
    margin-top: 5px;
}

.header .top_title h3{
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
}












/*内容区*/
/*.container .jgg ul{
    margin-left: 0.3%;
}*/
.container .jgg ul li{
    width: 33.333%;
    float: left;
    margin-top: -10px;
}
.container .jgg ul li a img{
    width: 100%;
}