@charset "utf-8";


.pro_container .pro_rx{
    width: 100%;
    background-color: #f1f9f8;
    padding: 15px 0px;
}

.pro_container .pro_rx h3{
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 12px;
    padding-bottom: 15px;
}

.pro_container .pro_rx p{
    color: #333333;
    font-size: 1rem;
    padding: 0px 12px;
    text-align: justify;
}




.pro_rx_table{
    width: 95%;
    margin: 10px auto;
}
.pro_rx_table ul{
    border-radius: 5px;
}
.pro_rx_table ul li{
    width: 32.5%;
    float: left;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #f6b8b3;
    background-color: #FFFFFF;
}

.pro_rx_table ul li:nth-child(1){
    color: #FFFFFF;
    background-color: #ed7267;
    border-radius: 5px 0px 0px 0px;
    border-right: 1px solid #fbdee1;
}
.pro_rx_table ul li:nth-child(2){
    color: #FFFFFF;
    background-color: #ed7267;
    border-right: 1px solid #fbdee1;
    width: 32.3%;
}
.pro_rx_table ul li:nth-child(3){
    color: #FFFFFF;
    background-color: #ed7267;
    border-radius: 0px 5px 0px 0px;
}

.pro_rx_table ul li:nth-child(4){
    border: 1px solid #f6b8b3;
    border-bottom: none;
    border-top: none;
}
.pro_rx_table ul li:nth-child(5){
    border: 1px solid #f6b8b3;
    border-left: none;
    border-bottom: none;
    border-top: none;
}
.pro_rx_table ul li:nth-child(6){
    border: 1px solid #f6b8b3;
    border-left: none;
    border-bottom: none;
    border-top: none;
}
.pro_rx_table ul li:nth-child(7){
    border: 1px solid #f6b8b3;
    border-bottom: none;
}
.pro_rx_table ul li:nth-child(8){
    border: 1px solid #f6b8b3;
    border-left: none;
    border-bottom: none;
}
.pro_rx_table ul li:nth-child(9){
    border: 1px solid #f6b8b3;
    border-left: none;
    border-bottom: none;
}


.pro_rx_table ul li:nth-child(11){
    border: 1px solid #f6b8b3;
    border-left: none;
}


.pro_rx_table ul li:nth-child(10){
    border-radius: 0px 0px 0px 5px;
}
.pro_rx_table ul li:nth-child(11){

}

.pro_rx_table ul li:nth-child(12){
    border-radius: 0px 0px 5px 0px;
    border-left: none;
}




.pro_container .pro_rx .pro_rx_a{
    display: block;
    width: 30%;
    margin: 15px auto 0px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background:linear-gradient(to right,#ec6a5e,#f17c72);
    box-shadow: 2px 2px 5px #b99b9c;
    border-radius: 6px;
    color: #FFFFFF;
}




.pro_container .pro_kf{
    width: 100%;
    background-color: #c6dce4;
    padding: 15px 0px;
}

.pro_container .pro_kf h3{
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 12px;
    padding-bottom: 15px;
}

.pro_container .pro_kf p{
    color: #333333;
    font-size: 1rem;
    padding: 0px 12px;
    text-align: justify;
}

.pro_container .pro_kf .pro_kf_l{
    width: 50%;
}
.pro_container .pro_kf .pro_kf_l p{
    color: #ed7267;
    font-size: 0.875rem;
    padding: 10px 0px;
}


.pro_container .pro_kf .pro_kf_l .pro_kf_l1{
    width: 100%;
    height: 60px;
    line-height: 30px;
    background-color: #ed7267;
}

.pro_container .pro_kf .pro_kf_l .pro_kf_l1 h4{
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
}
.pro_container .pro_kf .pro_kf_l .pro_kf_l1 h5{
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

.pro_container .pro_kf .pro_kf_l .pro_kf_l2{
    width: 100%;
    height: 160px;
    background-color: #FFFFFF;
}

.pro_container .pro_kf .pro_kf_div{
    width: 95%;
    margin: 10px auto;
}
.pro_container .pro_kf .pro_kf_l .pro_kf_l2 h6{
    color: #888888;
    font-size: 1rem;
    padding: 12px 0px 5px 8px;
}

.pro_container .pro_kf .pro_kf_l .pro_kf_l2 ul li{
    float: left;
    color: #888888;
    width: 50%;
    text-align: center;
    font-size: 0.875rem;
}


.pro_container .pro_kf .pro_kf_l .pro_kf_l2 ul li:last-child{
    /*text-align: justify;*/
    margin-left: -8px;
}



.pro_container .pro_kf .pro_kf_l .pro_kf_l2 ul li span{
    color: #ed7267;
    padding-right: 2px;
}









.pro_container .pro_kf .pro_kf_r{
    width: 48%;
    padding-left: 2%;
}

.pro_container .pro_kf .pro_kf_r .pro_kf_r1{
     width: 100%;
 }
.pro_container .pro_kf .pro_kf_r .pro_kf_r1 ul li{
    color: #555555;
    font-weight: bold;
    font-size: 0.875rem;
}
.pro_container .pro_kf .pro_kf_r .pro_kf_r1 ul li span{
    color: #ed7267;
    padding-right: 2px;
}
.pro_container .pro_kf .pro_kf_r .pro_kf_r1 ul li p{
    font-size: 0.75rem;
    font-weight: 500;
    text-align: justify;
    color: #555555;
    padding: 0px 0px 0px 12px;
}

.pro_container .pro_kf .pro_kf_r a{
    display: block;
    width: 70%;
    margin: 15px auto 0px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(to right,#ec6a5e,#f17c72);
    box-shadow: 2px 2px 5px #b99b9c;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 0.875rem;
}






.pro_container .pro_hy{
    width: 100%;
    background-color: #fef5f0;
    padding: 15px 0px;
}

.pro_container .pro_hy h3{
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 12px;
    padding-bottom: 15px;
}

.pro_container .pro_hy p{
    color: #333333;
    font-size: 1rem;
    padding: 0px 12px;
    text-align: justify;
}

.pro_container .pro_hy .pro_hy_div{
    padding: 12px;
}

.pro_container .pro_hy .pro_hy_div ul li{
    background-color: #FFFFFF;
    margin-top: 5px;
   /* height: 90px;*/
}


.pro_container .pro_hy .pro_hy_div .pro_hy_l{
    width: 30%;
}

.pro_container .pro_hy .pro_hy_div .pro_hy_l img{
    width: 100%;
    /*height: 88px;*/
}

.pro_container .pro_hy .pro_hy_div .pro_hy_r{
    width: 70%;
}



.pro_container .pro_hy ul li .pro_hy_r h5{
    color: #333333;
    font-size: 1rem;
    padding: 3px 0px 3px 10px;
}
.pro_container .pro_hy ul li .pro_hy_r p{
    color: #333333;
    font-size: 0.8125rem;
    text-align: justify;
    padding: 0px 10px;
    line-height: 18px;
}
















.pro_container .pro_dh{
    width: 100%;
    background-color: #fffacc;
    padding: 15px 0px;
}

.pro_container .pro_dh h3{
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 12px;
    padding-bottom: 15px;
}

.pro_container .pro_dh p{
    color: #333333;
    font-size: 1rem;
    padding: 0px 12px;
    text-align: justify;
    line-height: 28px;
}

.pro_container .pro_dh .pro_dh_div{
    width: 95%;
    margin: 10px auto;
    background-color: #FFFFFF;
}

.pro_container .pro_dh .pro_dh_div .pro_dh_div1{
    width: 23%;
    padding: 13% 3% 3% 3%;
}

.pro_container .pro_dh .pro_dh_div .pro_dh_div1 img{
    width: 100%;
}

.pro_container .pro_dh .pro_dh_div .pro_dh_div2{
    width: 71%;
}

.pro_container .pro_dh .pro_dh_div .pro_dh_div2 h5{
    color: #555555;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 0px;
}

.pro_container .pro_dh .pro_dh_div .pro_dh_div2 ul{
    padding-bottom: 5px;
}

.pro_container .pro_dh .pro_dh_div .pro_dh_div2 ul li{
    color: #555555;
    font-size: 0.75rem;
    text-align: justify;
    line-height: 20px;

}


.pro_container .pro_dh .pro_dh_div .pro_dh_div2 ul li span{
    color: #ed7267;
}
.pro_container .pro_dh .pro_dh_a{
    display: block;
    width: 30%;
    margin: 15px auto 0px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(to right,#ec6a5e,#f17c72);
    box-shadow: 2px 2px 5px #b99b9c;
    border-radius: 6px;
    color: #FFFFFF;
}





.pro_container .pro_zj{
    width: 100%;
    background-color: #ffffff;
    padding: 15px 0px;
}

.pro_container .pro_zj h3{
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 12px;
    padding-bottom: 15px;
}

.pro_container .pro_zj p{
    color: #333333;
    font-size: 1rem;
    padding: 0px 12px;
    text-align: justify;
}

.pro_container .pro_zj .pro_zj_div{
    width: 93%;
    margin: 15px auto;
}


.pro_container .pro_zj .pro_zj_div ul li{
    float: left;
    width: 32%;
}

.pro_container .pro_zj .pro_zj_div ul li.plr_1{
    padding: 0px 2%;
}

.pro_container .pro_zj .pro_zj_div .pro_zj_div1 img{
    width: 100%;
    /*height: 68px;*/
}

.pro_container .pro_zj .pro_zj_div2 h5{
    color: #333333;
    font-size: 0.875rem;
}

.pro_container .pro_zj .pro_zj_div2 p{
    color: #333333;
    font-size: 0.75rem;
    padding: 0px;
    text-align: justify;
    line-height: 20px;
}





.pro_container .pro_zj .pro_zj_a{
    display: block;
    width: 30%;
    margin: 15px auto 0px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(to right,#ec6a5e,#f17c72);
    box-shadow: 2px 2px 5px #b99b9c;
    border-radius: 6px;
    color: #FFFFFF;
}








/*底部栏*/
.pro_container .dianji{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #ffffff;
    position: relative;
}

.pro_container a:last-child .dianji{
    margin-top: 5px;
}
.pro_container .dianji p{
    line-height: 70px;
    padding-left: 25%;
    font-size: 1.125rem;
}

.pro_container .dianji.dianji1{
    background: #ffffff url("../images/dianji1.png") 15px 4px no-repeat;
    /* background-size: 15% 66%;*/
}
.pro_container .dianji.dianji2{
    background: #ffffff url("../images/dianji2.png") 15px 6px no-repeat;
    /*background-size: 12% 66%;*/
}

/*.container .dianji p i{
    display: inline-block;
    width: 30%;
    height: 40px;
    background: url("../images/jt.png") 20px 0px no-repeat;
    vertical-align: middle;
}*/

.pro_container .dianji img{
    position: absolute;
    top: 30%;
    /*left: 0;*/
    right: 0;
    bottom: 0;
    width: 8%;
    height: 50%;
}


.pro_container .dbl .div_bg{
    position: absolute;
    top: 18px;
    right: 0px;
    display: inline-block;
    width: 60px;
    height: 57px;
    background: url("../images/jt_m.png") 0px 0px no-repeat;
    z-index: 99;
    background-size: 80%;
}

.pro_container .dbl .div_bg.div_bg1{
    top: 93px;
    right: 0px;
}

.pro_container .dbl a{
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
}


.pro_container .dbl a.lh_a:hover .div_bg{
    position: absolute;
    top: 18px;
    right: 0px;
    display: inline-block;
    width: 60px;
    height: 57px;
    background: url("../images/jt_j.png") 0px 0px no-repeat;
    z-index: 99;
    background-size: 80%;
}


.pro_container .dbl a.tc_a:hover .div_bg{
    position: absolute;
    top: 93px;
    right: 0px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url("../images/jt_j.png") 0px 0px no-repeat;
    z-index: 99;
    background-size: 80%;
}

.pro_container .dbl{
    background-color: #434343;
    padding-bottom: 72px;
    padding-top: 5px;
    position: relative;
}

/*
.pro_rx_table table
{
    width: 95%;
    margin: 0 auto;
    border-collapse:collapse;
    background-color: #ffffff;
    border-radius: 5px;
   /!* margin-left: 25px;*!/
}

/!*.pro_rx_table table{
    border: 1px solid #ed7267;
    text-align: center;
}*!/
.pro_rx_table td
{
    border: 1px solid #ed7267;
    text-align: center;
}
.pro_rx_table th{
    border: 1px solid #fbdee1;
    text-align: center;
}

/!*.pro_rx_table tr:nth-child(1){
    border: 2px solid #ed7267;
    border-radius: 5px;
}*!/

.pro_rx_table tr:nth-child(1) th:nth-child(1){
    border-radius: 8px 0px 0px 0px;
}
.pro_rx_table tr:nth-child(1) th:nth-child(3){
    border-radius: 0px 8px 0px 0px;
}
.pro_rx_table td{
    width: 33%;
    height: 34px;
}
.pro_rx_table th{
    width: 33%;
    height: 34px;
}
.pro_rx_table th{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
    background-color: #ed7267;
}

.pro_rx_table td{
    font-size: 1rem;
    color: #666666;
}*/
